[user]
	name = Rachel Ober
	email = rachelober@gmail.com

[alias]
	ci = commit -a -v
	co = checkout
	st = status -a
	praise = blame
	br = branch
	df = diff
	lg = log -p
	rb = rebase

[apply]
	whitespace = strip

[color]
	ui = true

[color "diff"]
  meta = blue
  frag = black
  old = red
  new = green
  rename = copy

[pager]
	color = true

[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[color "branch"]
  current = yellow reverse
  local = yellow
  untracked = cyan
[core]
	excludesfile = ~/.gitignore
	editor = vim
[help]
  autocorrect = 1
[github]
	user = rachelober
	
[merge]
	tool = opendiff
