[user]
	name = Rachel Ober
	email = rachelober@gmail.com

[alias]
	ci = commit -a -v
	co = checkout
	st = status -a
	praise = blame
	br = branch
	df = diff
	lg = log -p
	rb = rebase

[apply]
	whitespace = strip

[color]
	diff = auto
	status = auto
	branch = auto

[diff]
  meta = blue
  frag = black
  old = red
  new = green
  rename = copy

[pager]
	color = true

[status]
  added = green
  changed = yellow
  untracked = cyan
[branch]
  current = yellow reverse
  local = yellow
  untracked = cyan
[core]
	excludesfile = ~/.gitignore
	editor = vim

[github]
	user = rachelober
	
[merge]
	tool = opendiff
